/* Стили компонента "PackageSenderUDP" */
.package-send-udp-container {
    display: flex;
    justify-content: center;
}

.package-send-udp-container_form form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    padding: 10px;
}

.package-send-udp-container_form input {
    margin: 5px;
    width: 100%;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #000;
    transform: 1s all;
}

.package-send-udp-container_form label {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 5px 10px;
}

.package-send-udp-container_form input:focus {
    background: #eee;
}

.submit-button {
    background: none;
    font-weight: 600;
    transition: .5s all;
}

.submit-button_sender {
    width: 200px !important;
}

.submit-button:hover {
    cursor: pointer;
    background: #000;
    color: #FFF;
}